body
  min-width 20em
  -webkit-user-select none
.item
  padding 2px 3px
  border-radius 6px
  cursor pointer
  vertical-align bottom
  display block
  &:hover
    background-color lightskyblue
input
  cursor pointer
  display inline-block