body
  min-width 26em
  font-family 'lucida grande', tahoma, verdana, arial, sans-serif
  font-size 11px
  margin 0
  -webkit-user-select none
.item
  padding 2px 3px
  border-bottom 1px solid white
  border-top 1px solid white
  cursor pointer
  vertical-align middle
  display block
  &:hover
    color white
    background #6d84b4
    border-bottom 1px solid #3b5998
    border-top 1px solid #3b5998
input
  cursor pointer
  display inline-block
  &[type=checkbox]
    margin-right 6px