doctype html
html
  head
    title Facebook Buddy
    link(rel='stylesheet', href='popup.css')
    script(src='load-options.js')
    script(src='popup.js')
  body
    label.item
      input(type='checkbox', value='expand-comments')
      | Expand long comments
    label.item
      input(type='checkbox', value='expand-previews')
      | Expand posts and media preview descriptions